{% extends "base.html" %} {% block content %}
<div class="about1">
    <h1 id="about1">ABOUT US</h1>
</div>
<div class="kcontainer2 mb-5">
    <div class="kflex">
        <div class="kflex1">
            <div class="kbox1">
                <image src="static/Images/UtilityImages/profile1.jpg" style="height:295px;width:295px;border-radius:100%"></image>
                <a href="https://github.com/Maheshwar098" target="_blank" style="text-decoration: none">
                    <h2 id="kname">Maheshwar Bhosale </h2>
                    <h3 style="margin-top: 8px;text-align: center;">ML Developer</h3>
                </a>
            </div>

            <div class="kbox1">
                <image src="static/Images/UtilityImages/profile4.jpg" style="height:295px;width:295px;border-radius:100%"></image>
                <a href="https://www.linkedin.com/in/atharva-date-04345b256" target="_blank" style="text-decoration: none">
                    <h2 id="kname">Atharva Date</h2>
                    <h3 style="margin-top: 8px;text-align: center;">ML Developer</h3>
                </a>
            </div>
            <div class="kbox1">
                <image src="static/Images/UtilityImages/profile2.jpg" style="height:295px;width:295px;border-radius:100%"></image>
                <a href="https://github.com/pranavb16" target="_blank" style="text-decoration: none">
                    <h2 id="kname">Pranav Bhutra</h2>
                    <h3 style="margin-top: 8px;text-align: center;">Frontend Developer</h3>
                </a>
            </div>
        </div>
        <div class="kflex2">
            <div class="kbox2">
                <image src="static/Images/UtilityImages/profile5.jpg" style="height:295px;width:295px;border-radius:100%"></image>
                <a href="https://github.com/karan-bora21" target="_blank">
                    <h2 id="kname">Karan Bora</h2>
                    <h3 style="margin-top: 8px;text-align: center;">Frontend Developer</h3>
                </a>
            </div>
            <div class="kbox2">
                <image src="static/Images/UtilityImages/profile3.jpg" style="height:295px;width:295px;border-radius:100%"></image>
                <a href="https://www.linkedin.com/in/ankita-darade-a0371a239" target="_blank" style="text-decoration: none">
                    <h2 id="kname">Ankita Darade</h2>
                    <h3 style="margin-top: 8px;text-align: center;">Frontend Developer</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}